<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .div1 {
      height: 3000px;
    }
  </style>
</head>

<body>
  <div class="div1"></div>
  <script>
    function throttle(fn, delay) {
      let valid = true
      return function () {
        if (!valid) {
          //休息时间 暂不接客
          return false
        }
        // 工作时间，执行函数并且在间隔期内把状态位设为无效
        valid = false
        setTimeout(() => {
          fn()
          valid = true;
        }, delay)
      }
    }
    /* 请注意，节流函数并不止上面这种实现方案,
      例如可以完全不借助setTimeout，可以把状态位换成时间戳，然后利用时间戳差值是否大于指定间隔时间来做判定。
      也可以直接将setTimeout的返回的标记当做判断条件-判断当前定时器是否存在，如果存在表示还在冷却，并且在执行fn之后消除定时器表示激活，原理都一样
        */

    // 以下照旧
    function showTop() {
      var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
      console.log('滚动条位置：' + scrollTop);
    }
    window.onscroll = throttle(showTop, 1000)


    function memoizedSqrt(arg) {
      // 如果 cache 不存在，则初始化一个空对象
      console.log('memoizedSqrt', memoizedSqrt);
      if (!memoizedSqrt.cache) {
        memoizedSqrt.cache = {};
      }

      // 如果 cache 没有命中，则先计算，再存入 cache，然后返回结果
      if (!memoizedSqrt.cache[arg]) {
        return memoizedSqrt.cache[arg] = {
          result: Math.sqrt(arg)
        };
      }

      // 直接返回 cache 内的结果，无需计算
      return memoizedSqrt.cache[arg];
    }

    memoizedSqrt(9)
  </script>
</body>

</html>